In [ ]:
#-----DataFrame de una serie de tuplas-----

# Importar la libreria pandas
import pandas as pd

# Crear tupla de de 3 listas
data = [1, 2, 3, 4, 5 ,6 ,7], [1, 2, 3, 4, 5 ,6 ,7], [1, 2, 3, 4, 5 ,6 ,7]

# Creación de serie para cada elemento o tupla (1, 2, 3)
series = pd.Series(data)

# Conversión a dataframe de una sola columna, cada columna tiene una fila que contiene una lista
dtframe = pd.DataFrame(series)

#impresión del data frame
print("DataFrame:\n", dtframe)

print("" \
"")

print("Series:\n", series)

DataFrame:
                        0
0  [1, 2, 3, 4, 5, 6, 7]
1  [1, 2, 3, 4, 5, 6, 7]
2  [1, 2, 3, 4, 5, 6, 7]

Series:
 0    [1, 2, 3, 4, 5, 6, 7]
1    [1, 2, 3, 4, 5, 6, 7]
2    [1, 2, 3, 4, 5, 6, 7]
dtype: object

In [16]:
#-----Tipo de dato de Serie, conversión de serie a lista, tipo de dato de la lista-----
import pandas as pd
numeros = (1, 2, 3, 4, 7) #tupla
serie = pd.Series(numeros)

print("Serie:\n", serie)
type(serie)

listaNum = serie.tolist()

print("" \
"")

print("Lista:\n", listaNum)
type(listaNum)

Serie:
 0    1
1    2
2    3
3    4
4    7
dtype: int64

Lista:
 [1, 2, 3, 4, 7]

list

In [3]:
import pandas as pd

serie1 = pd.Series([2, 4, 6, 8, 10])
serie2 = pd.Series([1, 3, 5, 7, 9])

print(f'Suma: \n{serie1 + serie2} \n Resta: \n{serie1 - serie2} \n Multiplicación: \n{serie1 * serie2}\n División: \n{serie1 / serie2}')

Suma:
0     3
1     7
2    11
3    15
4    19
dtype: int64
 Resta:
0    1
1    1
2    1
3    1
4    1
dtype: int64
 Multiplicación:
0     2
1    12
2    30
3    56
4    90
dtype: int64
 División:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [4]:
serie1 = pd.Series([2, 4, 6, 8, 10,])
serie2 = pd.Series([1, 3, 5, 7, 10])

print(f"Serie 1 < Serie 2\n{serie1 < serie2}\nSerie 1 == Serie 2\n{serie1 == serie2}\nSerie 1 > Serie 2\n{serie1 > serie2}")

Serie 1 < Serie 2
0    False
1    False
2    False
3    False
4    False
dtype: bool
Serie 1 == Serie 2
0    False
1    False
2    False
3    False
4     True
dtype: bool
Serie 1 > Serie 2
0     True
1     True
2     True
3     True
4    False
dtype: bool

In [5]:
dict = {"id": (1, 2, 3),
        "usuario": ('David', 'Martín', 'Jason'),
        "salariom": (900.00, 1000.00, 1200.00),
        "salarioq": (900.00 / 2, 1000.00/2, 1200.00/2),
        "totimp": [100, 134, 132],
        "fechapago": ("5-12-2025", "4-11-2025", "7-10-2025")
        }

serie = pd.Series(dict)

print(serie)
type(serie)

id                                   (1, 2, 3)
usuario                 (David, Martín, Jason)
salariom               (900.0, 1000.0, 1200.0)
salarioq                 (450.0, 500.0, 600.0)
totimp                         [100, 134, 132]
fechapago    (5-12-2025, 4-11-2025, 7-10-2025)
dtype: object

pandas.core.series.Series

In [6]:
import numpy as np

arreglo = np.array([3, 23, 13, 4])

print(arreglo)

serie = pd.Series(arreglo)
print(serie)

[ 3 23 13  4]
0     3
1    23
2    13
3     4
dtype: int64

In [7]:
series = pd.Series([1, 2, 'Python', 4, 5])

print(series.dtypes)

S2 = pd.to_numeric(series, errors='ignore')

print(series)

object
0         1
1         2
2    Python
3         4
4         5
dtype: object

/tmp/ipykernel_46640/1590960719.py:5: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  S2 = pd.to_numeric(series, errors='ignore')

In [8]:
import pandas as pd

data = {
    "col1": [1, 2, 3, 4, 7, 11],
    "col2": [4, 5, 6, 9, 5, 0],
    "col3": [7, 5, 8, 12, 1, 11]
}

dtframe = pd.DataFrame(data, index = ["day1", "day2", "day3", "day4", "day5", "day6"])
print(dtframe)

ser = pd.Series(dtframe["col1"])
print(f"\n{ser}")

      col1  col2  col3
day1     1     4     7
day2     2     5     5
day3     3     6     8
day4     4     9    12
day5     7     5     1
day6    11     0    11

day1     1
day2     2
day3     3
day4     4
day5     7
day6    11
Name: col1, dtype: int64

In [9]:
dict1 = {
    "X": [78, 85, 96, 80, 86],
    "Y": [84, 94, 89, 83, 86],
    "Z": [86, 97, 96, 72, 83]
}

dtf = pd.DataFrame(dict1, index = ["f(p0)", "f(p1)", "f(p2)", "f(p3)", "f(p4)"])
print(dtf)

        X   Y   Z
f(p0)  78  84  86
f(p1)  85  94  97
f(p2)  96  89  96
f(p3)  80  83  72
f(p4)  86  86  83

In [10]:
dict2 = {
    'Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'Score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'Attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify': ['Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']
}

dtf1 = pd.DataFrame(dict2, index = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"])
print(dtf1)

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     Yes
b       Dima    9.0         3      No
c  Katherine   16.5         2     Yes
d      James    NaN         3      No
e      Emily    9.0         2      No
f    Michael   20.0         3     Yes
g    Matthew   14.5         1     Yes
h      Laura    NaN         1      No
i      Kevin    8.0         2      No
j      Jonas   19.0         1     Yes