In [14]:
import pandas as pd

data = [1, 2, 3, 4, 5 ,6 ,7], [1, 2, 3, 4, 5 ,6 ,7], [1, 2, 3, 4, 5 ,6 ,7]
series = pd.Series(data)

dtframe = pd.DataFrame(series)

print(dtframe)

print("" \
"")

print(series)

                       0
0  [1, 2, 3, 4, 5, 6, 7]
1  [1, 2, 3, 4, 5, 6, 7]
2  [1, 2, 3, 4, 5, 6, 7]

0    [1, 2, 3, 4, 5, 6, 7]
1    [1, 2, 3, 4, 5, 6, 7]
2    [1, 2, 3, 4, 5, 6, 7]
dtype: object

In [12]:
import pandas as pd
numeros = (1, 2, 3, 4, 7)
serie = pd.Series(numeros)

print(serie)
type(serie)

listaNum = serie.tolist()

print(listaNum)

type(listaNum)
#print(serie)

0    1
1    2
2    3
3    4
4    7
dtype: int64
[1, 2, 3, 4, 7]

list

In [ ]:
import pandas as pd

serie1 = pd.Series([2, 4, 6, 8, 10])
serie2 = pd.Series([1, 3, 5, 7, 9])

print(f'Suma: \n{serie1 + serie2} \n Resta: \n{serie1 - serie2} \n Multiplicación: \n{serie1 * serie2}\n División: \n{serie1 / serie2}')

In [ ]:
serie1 = pd.Series([2, 4, 6, 8, 10,])
serie2 = pd.Series([1, 3, 5, 7, 10])

print(f"Serie 1 < Serie 2\n{serie1 < serie2}\nSerie 1 == Serie 2\n{serie1 == serie2}\nSerie 1 > Serie 2\n{serie1 > serie2}")

In [ ]:
dict = {"id": (1, 2, 3),
        "usuario": ('David', 'Martín', 'Jason'),
        "salariom": (900.00, 1000.00, 1200.00),
        "salarioq": (900.00 / 2, 1000.00/2, 1200.00/2),
        "totimp": [100, 134, 132],
        "fechapago": ("5-12-2025", "4-11-2025", "7-10-2025")
        }

serie = pd.Series(dict)

print(serie)
type(serie)

In [ ]:
import numpy as np

arreglo = np.array([3, 23, 13, 4])

print(arreglo)

serie = pd.Series(arreglo)
print(serie)

In [ ]:
series = pd.Series([1, 2, 'Python', 4, 5])

print(series.dtypes)

S2 = pd.to_numeric(series, errors='ignore')

print(series)

In [ ]:
import pandas as pd

data = {
    "col1": [1, 2, 3, 4, 7, 11],
    "col2": [4, 5, 6, 9, 5, 0],
    "col3": [7, 5, 8, 12, 1, 11]
}

dtframe = pd.DataFrame(data, index = ["day1", "day2", "day3", "day4", "day5", "day6"])
print(dtframe)

ser = pd.Series(dtframe["col1"])
print(f"\n{ser}")

In [ ]:
dict1 = {
    "X": [78, 85, 96, 80, 86],
    "Y": [84, 94, 89, 83, 86],
    "Z": [86, 97, 96, 72, 83]
}

dtf = pd.DataFrame(dict1, index = ["f(p0)", "f(p1)", "f(p2)", "f(p3)", "f(p4)"])
print(dtf)

In [ ]:
dict2 = {
    'Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'Score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'Attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'Qualify': ['Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes']
}

dtf1 = pd.DataFrame(dict2, index = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"])
print(dtf1)